@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-Bold.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Georgia Regular';
    src: url('../fonts/Georgia.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}