body {
    font-family: 'Georgia Bold', 'sans-serif';
    overflow-x: hidden;
}
*,
ul,
li,
*::before,
*::after,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 970px;
    margin: 0 auto;
}
.header {
    height: 100vh;
    background-image: url("../img/header__bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
}
.header__top {
    display: flex;
    flex-direction: column;
    border: 2px solid #ECB84C;
    border-bottom: none;
    height: 100%;
}
.header__title {
    font-weight: 700;
    font-size: 160px;
    margin: auto;
    color: #fff;
    font-family: 'Georgia';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.header__text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: -13px;
    font-family: 'Georgia Regular';
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.header__text::before,
.header__text::after {
    content:'';
    border-bottom: 2px solid #ECB84C;
    width: 100%;
}
.header__text::before {
    margin-right: 30px;
}
.header__text::after {
    margin-left: 30px;
}
.menu::after {
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D0D4D8;
}
.menu__list {
    display: flex;
    justify-content: center;
    padding: 24px 0 20px;
}
.menu__list-item {
    margin-left: 40px;
}
.menu__list-item:first-child {
    margin: 0;
}
.menu__list-link {
    position: relative;
    color: #909090;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
}
.menu__list-link:hover {
    color: #4E5665;
}
.menu__list-link::after {
    content:'';
    position: absolute;
    display: block;
    width: 0;
    height: 4px;
    margin-top: 16px;
    transition: width .2s;
    background-color: #ECB84C;
}
.menu__list-link:hover::after {
    width: 100%;
}
.about__title {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Georgia Regular', sans-serif;
    color: #4E5665;
    margin-top: 80px;
    margin-bottom: 20px;
}
.about__text {
    font-family: 'Lato Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #505050;
    line-height: 28px;
    margin-bottom: 65px;
}
.stats {
    position: relative;
    padding-bottom: 80px;
}
.stats::after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 80px;
    background-color: #D0D4D8;
}
.stats__items {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stats__item span {
    display: inline-block;
    width: 100%;
}
.stats__item-value {
    font-family: 'Lato';
    font-weight: 700;
    color: #4E5665;
    margin-top: 32px;
}
.stats__item-title {
    font-family: 'Lato';
    font-weight: 700;
    color: #909090;
}
.about__content-img {
    width: 570px;
}
.about__content {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}
.right {
    display: block;
    margin-left: auto;
}
.left {
    display: block;
    margin-right: auto;
}
.about__content-box {
    position: absolute;
    width: 470px;
    height: 290px;
    background-color: #fff;
}
.about__content-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.i {
    right: 0;
}
.box__title {
    font-family: 'Georgia Regular';
    font-size: 24px;
    margin-bottom: 20px;
}
.box__text {
    font-size: 16px;
    font-family: 'Lato Regular';
    line-height: 28px;
}
.arrow {
    position: absolute;
}
.left__top {
    left: 19px;
    top: 19px;
}
.right__top {
    right: 19px;
    top: 19px;
}
.left__bottom {
    left: 19px;
    bottom: 19px;
}
.right__bottom {
    right: 19px;
    bottom: 19px;
}
.text {
    padding: 33px 40px 36px 40px;
}
.cadillac {
    text-align: center;
}
.cadillac img {
    margin-top: 110px;
    margin-bottom: 40px;
}
.cadillac__text {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Lato Regular';
    color: #505050;
    position: relative;
    padding-bottom: 80px;
}
.cadillac__text::after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 80px;
    background-color: #D0D4D8;
}
.cuba__img-text::after {
    content:'';
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 1px;
    margin-top: 50px;
    background-color: #D0D4D8;
}
.slider {
    position: relative;
    margin: 0 auto 80px;
    width: 640px;
    height: 480px;
    border-radius: 4px;
    box-shadow: 0 0 24px #00000054;
}
.slider__inner {
    overflow: hidden;
    border-radius: inherit;
    max-width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.slider__inner img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    object-fit: cover;
}
.arrow__right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%)
}
.arrow__left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.arrow__right,
.arrow__left {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ECB84C;
}
.footer {
    width: 100%;
    margin-top: auto;
    background-color: #F8F8F8;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    padding: 55px 0 40px;
}
.footer__title {
    margin-bottom: 20px;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #4E5665;
}
.footer__content-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: 'Lato Regular';
}
.footer__content-item img {
    margin-right: 12px;
}
.footer__content-link {
    color: #505050;
}
.copyrite {
    font-family: 'Lato Regular';
    text-align: center;
    margin-bottom: 32px;
    color: #505050;
}